/**
==目录==
* 羊羊百科的CSS
** 背景和Logo（设置羊羊百科网页的背景图片，以及导航栏左上角的Logo）
** 通用颜色和字体
** 信息卡片、剧集列表（也就是.infocard和.tv-list）
** 文件显示（包括图片、视频和音频在<gallery>和[[文件:]]中的默认显示效果）
** 目录
** 页脚
** 其他

* MDUI（第三方CSS，代码来自：https://www.mdui.org）
** MDUI卡片
** MDUI按钮
** MDUI网格列表
** MDUI其他

 */

/**
 * =============================================================================
 * ************   羊羊百科的CSS   ************
 * =============================================================================
 */
/**
 * =============================================================================
 * ************   背景和Logo（设置羊羊百科网页的背景图片，以及导航栏左上角的Logo）   ************
 * =============================================================================
 */
/* 背景 */
#wiki-outer-body {
  background-color: transparent;
}
.huiji-css-hook #wiki-body {
  background-color: rgba(0, 0, 0, 0.16);
}
.huiji-css-hook {
  background-position: center 0;
  background-size: 100%;
}
.huiji-css-hook::after {
  content: " ";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url("https://huiji-public.huijistatic.com/xyy/uploads/c/c8/20210328%E7%BE%8A%E6%9D%91%E7%9B%B4%E6%92%AD%E9%97%B44.jpg")
    center bottom 0 no-repeat;
  background-size: cover;
  filter: blur(4px) opacity(0.8);
}

.huiji-css-hook .navbox .mw-selflink.selflink {
  color: #cde5f9;
}

/* 站点导航栏LOGO使用图片 */
.skin-subnav-brand {
  background-image: url("https://huiji-public.huijistatic.com/xyy/uploads/0/01/羊羊百科.png");
  width: 64px;
}
.skin-subnav-avatar,
.skin-subnav-sitename {
  display: none;
}

/**
  * =============================================================================
  * ************   通用颜色和字体   ************
  * =============================================================================
  */
/**定义颜色**/
:root {
  --anti-text: rgba(0, 0, 0, 0.6);
  --bg: rgba(255, 255, 255, 0.16);
  --bg-black: #121212;
  --border-line: rgba(255, 255, 255, 0.12);
  --text-1: rgba(255, 255, 255, 0.87);
  --text-2: rgba(255, 255, 255, 0.6);
  --text-3: rgba(255, 255, 255, 0.38);
}
.bg-primary {
  color: var(--anti-text);
}
body {
  background: var(--bg-black);
}
.bg {
  background-color: var(--bg);
}
.reference .popover {
  background-color: var(--bg-black);
}
/*调用webfont及设定字体*/
@font-face {
  font-family: Nospz;
  src: url("https://huiji-public.huijistatic.com/xyy/uploads/6/67/NospzGothicYYBK-Regular.ttf");
}
@font-face {
  font-family: ChaDong;
  src: url("https://huiji-public.huijistatic.com/xyy/uploads/a/a8/ChaDong-Regular.ttf");
}
@font-face {
  font-family: 拼音;
  src: url("https://huiji-public.huijistatic.com/xyy/uploads/8/8c/PinyinSans-Regular.ttf");
}
html,
body,
.comment-body textarea,
.comment-preview,
.comment-submit,
#firstHeading,
.popover,
#skin-root,
li.icon-list-item {
  font-family: "PingFang SC", "Hiragino Sans GB", "Source Han Sans SC",
    "Source Han Sans SC", "Source Han Sans", "Microsoft YaHei", 微软雅黑,
    "WenQuanYi Micro Hei", "Heiti SC", SimHei, Nospz, "Helvetica Neue", Tahoma,
    Arial, sans-serif;
}

/* 设定默认非汉语字体 */
:lang(ar) {
  font-family: Dubai, "Segoe UI", Tahoma, "Noto Sans Arabic UI", "Dejavu Sans",
    Arial, sans-serif;
}
:lang(en),
:lang(es),
:lang(pt),
:lang(ru) {
  font-family: "Helvetica Neue", Tahoma, Arial, sans-serif;
}
:lang(ja) {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "Source Han Sans", "Source Han Sans JP", Osaka, メイリオ, Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic", Nospz, "Helvetica Neue", Tahoma, Arial,
    sans-serif;
}
:lang(ko) {
  font-family: "Source Han Sans KR", "Source Han Sans", "Malgun Gothic", "Dotum",
    "AppleGothic", "Baekmuk Gulim", "UnDotum", "Batang", "AppleMyungjo",
    "UnBatang", "Helvetica Neue", Tahoma, Arial, sans-serif;
}
:lang(vi) {
  font-family: Tahoma, Arial, sans-serif;
}
:lang(zh-Latn) {
  font-family: 拼音, "Helvetica Neue", Tahoma, Arial, sans-serif;
}

/**
  * =============================================================================
  * ************   信息卡片、剧集列表（也就是.infocard和.tv-list）   ************
  * =============================================================================
  */
/* 信息卡片（.infocard） */
@media screen and (max-width: 768px) {
  .infocard {
    float: none !important;
    margin: 16px auto 32px auto !important;
  }
}
.infocard {
  max-width: 344px;
  margin: 0 0 16px 32px !important;
  float: right;
  clear: both;
}
.infocard table {
  width: 100%;
}
.infocard table td {
  vertical-align: top;
}
.infocard table td:first-child {
  width: 56px;
  font-weight: bold;
}
/* 剧集列表用 */
.tv-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -4px;
}
.tv-list .mdui-card {
  width: 144px;
  max-width: 100%;
  margin: 8px 4px 0 4px;
  padding: 4px;
  padding-bottom: 20px;
  flex-grow: 1;
}
.tv-list .text-center {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  line-height: 16px;
}
/* 电脑 */
@media screen and (min-width: 768px) {
  .tv-list .mdui-card {
    width: 220px;
    max-width: 100%;
    padding-bottom: 28px;
  }
  .tv-list .text-center {
    font-size: 14px;
    line-height: 24px;
  }
}

/**强制取消外部链接的后缀图标**/
.mdui-btn a:not(.image).extiw::after,
.mdui-btn .external.text::after,
.no-huiji a:not(.image).extiw::after,
.no-huiji .external.text::after {
  display: none;
}

/**
  * =============================================================================
  * ************   文件显示（包括图片、视频和音频在<gallery>和[[文件:]]中的默认显示效果）   ************
  * =============================================================================
  */
/**slidemode图册的调整**/
ul.gallery.mw-gallery-slideshow {
  margin: 8px 0 0 0;
}
ul.gallery.mw-gallery-slideshow .mw-gallery-slideshow-buttons {
  opacity: unset;
  padding: 0;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
/**传统图册调整**/
.mw-gallery-traditional li.gallerybox,
.mw-gallery-traditional .gallerybox > div,
.mw-gallery-traditional .thumb,
.mw-gallery-traditional .thumb > div,
.mw-gallery-traditional img {
  max-width: 100%;
  height: auto;
}
.mw-gallery-traditional .thumb {
  margin: 0 !important;
  background: none !important;
  border: none !important;
}

/**图片的边框和圆角**/
.mw-content-ltr .thumbcaption {
  text-align: center;
  color: var(--text-2);
}
.mw-content-ltr .magnify {
  display: none;
}
.thumb .thumbinner {
  background: transparent !important;
  padding: 0 !important;
}
.thumb .thumbinner img,
.outline-img img,
.gallery img {
  border: solid var(--border-line) 1px;
  border-radius: 4px;
  background-color: var(--bg) !important;
}
.tright.thumb {
  margin: 0 0 8px 8px;
}

@media screen and (min-width: 320px) and (max-width: 566px) {
  div.thumb,
  .thumbinner {
    margin: 0 auto !important;
    float: none !important;
  }
}

/**图片圆角改为4px**/
.img-rounded {
  border-radius: 4px;
}
/**使嵌入内容默认为16：9**/
.embed-responsive {
  padding-bottom: 56.25%;
}
/**文件界面-文件（图片）的显示**/
#file img {
  max-width: 100% !important;
  height: auto !important;
  border-radius: 4px;
}
/**文件界面-图片元数据表格样式**/
.huiji-css-hook .mw_metadata {
  width: auto;
  margin: 8px 0 0 0;
}

/**
  * =============================================================================
  * ************   目录   ************
  * =============================================================================
  */
.toc-sidebar .toc-ul-wrap > ul {
  background: var(--bg-black);
  border-radius: 8px;
  padding: 4px;
}
#toc.toc-sidebar li {
  line-height: 24px;
  margin: 4px;
  border-radius: 4px;
  transition: none;
}
.toc-sidebar .nav > li > a {
  border: none !important;
}
.huiji-css-hook .toc-sidebar li a {
  color: var(--text-1);
}
.huiji-css-hook .toc-sidebar li.active > a {
  color: var(--brand-primary);
}
#toc.toc-sidebar li li {
  margin-left: 4px;
}
.toc-sidebar .nav .nav {
  padding-bottom: 0;
}
.toc-sidebar .toc-ul-wrap > ul {
  max-width: 100%;
}
#toc.toc-sidebar li:hover,
#toc.toc-sidebar li.active {
  background: var(--bg);
}
a {
  transition: 0.3s;
}

/**
  * =============================================================================
  * ************   页脚（footer）   ************
  * =============================================================================
  */
#wiki-body {
  padding-bottom: 0;
}

@media (min-width: 769px) {
  .bottom.footer .container {
    padding: 0 35px;
  }
}

.bottom.footer {
  background: transparent !important;
  padding: 0;
  margin: 0;
}

.bottom.footer .container {
  background: #00000020;
}

.bottom.footer .container .mw-parser-output,
.bottom.footer .container footer {
  padding: 16px 16px 6px 16px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--bg);
  border-radius: 4px;
  margin-top: 4px;
}

.bottom.footer .container footer {
  margin: 8px 0 !important;
}

.bottom.footer .container #localNotice {
  margin-top: 8px;
}

/**
  * =============================================================================
  * ************   其他   ************
  * =============================================================================
  */
/*****修正bootstrap*****/
/**修复bootstrap列表**/
.panel {
  overflow: hidden;
  border-radius: 8px;
  background: none;
}
/**默认使所有fa图标等宽，而fa-fw则用于图片图标**/
.fa {
  width: 1.28571429em;
  text-align: center;
}
.fa-fw {
  height: auto;
}
/**为响应式布局添加默认边距**/
[class*="col-xs-"],
[class*="col-sm-"],
[class*="col-md-"],
[class*="col-lg-"],
[class*="col-xl-"] {
  padding: 4px;
}
.row {
  margin: 0 -4px;
}
/**调整dl列表**/
.mw-parser-output dl {
  margin-bottom: 0;
}
.mw-parser-output dt {
  margin: 8px 0 0 0 !important;
}
.mw-parser-output dt:first-child {
  margin: 0 !important;
}
.mw-parser-output dd {
  margin: 0 0 0 2em !important;
}
/**json界面-表格内文字颜色**/
.mw-jsonconfig {
  color: var(--anti-text);
}
/**消除content的p元素**/
#content p {
  margin: 0px !important;
}
/* 修正页面对比处的背景 */
.skin-huiji-dragonhide td.diff-context {
  background-color: transparent;
}
/*图标列表（不显示列表默认的前置小圆点）*/
li.icon-list-item::marker {
  content: none;
}
li.icon-list-item {
  margin-left: -1.6em;
}
/*为bootstrap的模态框重置字体大小*/
.modal {
  font-size: initial;
}

/**
  * =============================================================================
  * ************   MDUI（第三方CSS，代码来自：https://www.mdui.org）   ************
  * =============================================================================
  */
/**
  * =============================================================================
  * ************   MDUI卡片   ************
  * =============================================================================
  */
.mdui-card {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flow-root;
  background-color: var(--bg);
  border-radius: 4px;
}
/**
  * ===================== 头部，包含头像、标题、副标题
  */
.mdui-card-header {
  position: relative;
  height: 72px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
}
/* 卡片头部头像 */
.mdui-card-header-avatar {
  float: left;
  width: 40px;
  height: 40px !important;
  border-radius: 50%;
}
/* 卡片头部标题 */
.mdui-card-header-title {
  display: block;
  margin-left: 52px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-1);
}
/* 卡片头部副标题 */
.mdui-card-header-subtitle {
  display: block;
  margin-left: 52px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-2);
}
/**
  * =========================== 主标题区域
  */
.mdui-card-primary {
  position: relative;
  padding: 16px;
}
/* 主标题区域标题 */
.mdui-card-primary-title {
  display: block;
  font-size: 24px;
  line-height: 36px;
  color: var(--text-1);
}
/* 主标题区域副标题 */
.mdui-card-primary-subtitle {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-2);
}
/**
  * ============================ 内容区域
  */
.mdui-card-content {
  position: relative;
  padding: 16px;
  font-size: 14px;
  line-height: 24px !important;
}
/**
  * ============================ 卡片菜单
  */
.mdui-card-menu {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
}
.mdui-card-menu .mdui-btn {
  margin-left: 8px;
}
/**
  * =========================== 按钮区域
  */
.mdui-card-actions {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
}
.mdui-card-actions:before,
.mdui-card-actions:after {
  display: table;
  content: " ";
}
.mdui-card-actions:after {
  clear: both;
}
.mdui-card-actions:before,
.mdui-card-actions:after {
  display: table;
  content: " ";
}
.mdui-card-actions:after {
  clear: both;
}
.mdui-card-actions .mdui-btn {
  max-width: 100%;
  margin: 0 8px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mdui-card-actions .mdui-btn-icon {
  width: 36px;
  height: 36px;
  margin: 0 8px;
}
/* 使按钮竖向排列 */
.mdui-card-actions-stacked .mdui-btn {
  display: block;
  margin: 0 0 4px 0;
}
.mdui-card-actions-stacked .mdui-btn:last-child {
  margin: 0;
}
/**
  * ============================= 媒体元素区域
  */
.mdui-card-media {
  position: relative;
}
.mdui-card-media img,
.mdui-card-media video {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
}
/* 覆盖在媒体元素上的内容 */
.mdui-card-media-covered {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  /* 覆盖在媒体元素上的标题 */
}
.mdui-card-media-covered .mdui-card-primary-title {
  opacity: 1;
}
.mdui-card-media-covered .mdui-card-primary-subtitle {
  opacity: 0.7;
}
/* 覆盖在媒体元素顶部 */
.mdui-card-media-covered-top {
  top: 0;
  bottom: auto;
}
/* 覆盖层透明 */
.mdui-card-media-covered-transparent {
  background: transparent;
}
/* 覆盖层渐变 */
.mdui-card-media-covered-gradient {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.26)),
    to(rgba(0, 0, 0, 0))
  );
  background: linear-gradient(to top, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0));
}
.mdui-card-media-covered-gradient.mdui-card-media-covered-top {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.26)),
    to(rgba(0, 0, 0, 0))
  );
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0));
}
/**
  * =============================================================================
  * ************   MDUI按钮   ************
  * =============================================================================
  */
/* 默认为 Flat 扁平按钮 */
.mdui-btn {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 88px;
  height: 36px;
  margin: 0;
  padding: 0 16px;
  overflow: hidden;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 0.04em;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  background: transparent;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  will-change: box-shadow;
  zoom: 1;
  -webkit-user-drag: none;
}
.mdui-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.mdui-btn:not(.mdui-ripple):active {
  background-color: rgba(0, 0, 0, 0.165);
}
.mdui-btn[class*="mdui-color-"]:hover {
  opacity: 0.87;
}
.mdui-btn:not(.mdui-ripple)[class*="mdui-color-"]:active {
  opacity: 0.76;
}
/* 按钮内的图标 */
.mdui-btn .mdui-icon-left,
.mdui-btn .mdui-icon-right,
.mdui-btn .mdui-icon-left::before,
.mdui-btn .mdui-icon-right::before {
  height: inherit;
  font-size: 1.3em;
  line-height: inherit;
}
.mdui-btn .mdui-icon-left {
  float: left;
  margin-right: 0.4em;
}
.mdui-btn .mdui-icon-right {
  float: right;
  margin-left: 0.4em;
}
input.mdui-btn[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* Raised button 浮动按钮 */
.mdui-btn-raised {
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.mdui-btn-raised:hover {
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.mdui-btn-raised:active {
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
/* 禁用按钮 */
.mdui-btn[disabled],
.mdui-btn[disabled]:hover,
.mdui-btn[disabled]:active,
.mdui-btn[disabled]:focus {
  color: rgba(0, 0, 0, 0.26) !important;
  background-color: transparent !important;
  cursor: default !important;
  opacity: 1 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.mdui-btn[disabled] .mdui-icon,
.mdui-btn[disabled]:hover .mdui-icon,
.mdui-btn[disabled]:active .mdui-icon,
.mdui-btn[disabled]:focus .mdui-icon {
  color: rgba(0, 0, 0, 0.26) !important;
}
/* 禁用状态浮动按钮和浮动操作按钮 */
.mdui-btn-raised[disabled],
.mdui-btn-raised[disabled]:hover,
.mdui-btn-raised[disabled]:active,
.mdui-btn-raised[disabled]:focus {
  background-color: rgba(0, 0, 0, 0.12) !important;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}
/* 加粗按钮文本 */
.mdui-btn-bold {
  font-weight: bold;
}
/* 图标按钮 */
.mdui-btn-icon {
  width: 36px;
  min-width: 36px;
  height: 36px;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  overflow: hidden;
  font-size: 24px;
  line-height: normal;
  border-radius: 50%;
}
.mdui-btn-icon .mdui-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  line-height: 24px;
  -webkit-transform: translate(-12px, -12px);
  transform: translate(-12px, -12px);
}
.mdui-btn-icon.mdui-ripple {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
/* 按钮 100% 宽度 */
.mdui-btn-block {
  display: block;
  width: 100%;
}
/* 密集型按钮 */
.mdui-btn-dense {
  height: 32px;
  font-size: 13px;
  line-height: 32px;
}
.mdui-btn-dense.mdui-btn-icon {
  width: 32px;
  min-width: 32px;
}
/* 按钮组 */
.mdui-btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.mdui-btn-group .mdui-btn {
  float: left;
  min-width: inherit;
  padding: 0 12px;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 0;
}
.mdui-btn-group .mdui-btn::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid transparent;
  content: " ";
}
.mdui-btn-group .mdui-btn:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.mdui-btn-group .mdui-btn:first-child::before {
  border-left: none;
}
.mdui-btn-group .mdui-btn:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.mdui-btn-group .mdui-btn.mdui-btn-active {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(0, 0, 0, 0.215);
}
.mdui-btn-group .mdui-btn.mdui-btn-active + .mdui-btn-active::before {
  border-left: 1px solid rgba(0, 0, 0, 0.145);
}

/**
  * =============================================================================
  * ************   MDUI网格列表   ************
  * =============================================================================
  */
/* 调整网格边距 */
.mdui-grid-list {
  margin: 0 -2px;
}
.mdui-grid-list .col,
.mdui-grid-list [class*="col-xs-"],
.mdui-grid-list [class*="col-sm-"],
.mdui-grid-list [class*="col-md-"],
.mdui-grid-list [class*="col-lg-"],
.mdui-grid-list [class*="col-xl-"] {
  padding-right: 2px;
  padding-left: 2px;
}
/* 单元格 */
.mdui-grid-tile {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 4px;
  overflow: hidden;
  border-radius: 4px;
}
.mdui-grid-tile img.img-responsive {
  display: block;
  width: 100%;
}
/* 操作栏 */
.mdui-grid-tile-actions {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  max-height: 68px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.mdui-grid-tile-actions .mdui-icon {
  color: #fff;
}
/* 操作栏内的文本 */
.mdui-grid-tile-text {
  overflow: hidden;

  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* 标题 */
.mdui-grid-tile-title {
  height: 16px;
  overflow: hidden;
  font-size: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mdui-grid-tile-title .mdui-icon {
  margin-right: 8px;
}
/* 副标题 */
.mdui-grid-tile-subtitle {
  height: 18px;
  margin-top: 4px;
  overflow: hidden;
  font-size: 12px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mdui-grid-tile-subtitle .mdui-icon {
  margin-right: 8px;
  font-size: 18px;
}
/* 操作栏内的按钮 */
.mdui-grid-tile-buttons {
  margin: -8px;
  white-space: nowrap;

  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.mdui-grid-tile-buttons .mdui-btn {
  margin-left: 8px;
}
.mdui-grid-tile-buttons .mdui-btn:first-child {
  margin-left: 0;
}
.mdui-grid-tile-text + .mdui-grid-tile-buttons {
  margin-left: 8px;
}
.mdui-grid-tile-buttons + .mdui-grid-tile-text {
  margin-left: 16px;
}
/* 操作栏位于顶部 */
.mdui-grid-tile-actions-top {
  top: 0;
  bottom: auto;
}
/* 操作栏背景透明 */
.mdui-grid-tile-actions-transparent {
  background: transparent;
}
/* 操作栏背景渐变 */
.mdui-grid-tile-actions-gradient {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.26)),
    to(rgba(0, 0, 0, 0))
  );
  background: linear-gradient(to top, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0));
}
.mdui-grid-tile-actions-gradient.mdui-grid-tile-actions-top {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.26)),
    to(rgba(0, 0, 0, 0))
  );
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0));
}

/**
  * =============================================================================
  * ************   MDUI其他   ************
  * =============================================================================
  */
/** 排版 **/
.mdui-typo-caption {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.08em;
  opacity: 0.54;
}
/** 分割线 **/
.mdui-divider {
  height: 1px;
  margin: -1px 0 0 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.12);
}
/** 列表 **/
/* 限制文本高度 */
.mdui-list-item-one-line,
.mdui-list-item-two-line,
.mdui-list-item-three-line {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.mdui-list-item-one-line {
  height: 20px;
  -webkit-line-clamp: 1;
}
.mdui-list-item-two-line {
  height: 40px;
  -webkit-line-clamp: 2;
}
.mdui-list-item-three-line {
  height: 60px;
  -webkit-line-clamp: 3;
}
